.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.search {
  border-color: white;
  width: 150px;
  position: relative;
}

.search::placeholder {
  padding-left: 25px;
  font-size: 12px;
}

.search-icon {
  position: fixed;
  margin-left: 5px;
  margin-top: -3px;
  z-index: 5;
  font-size: larger;
  font-weight: 500;
}

p {
  margin-bottom: 0px;
}

.p-19 {
  padding: 19px;
}
.border-dotted {
  border: 1px dotted black;
}

.height-fit {
  height: fit-content;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .md-fs-8 {
    font-size: 8px; /* Adjust the font size according to your requirements */
  }
}
